[submodule "deps/libshmcache"]
	path = deps/libshmcache
	url = https://github.com/denghongcai/libshmcache
[submodule "deps/libfastcommon"]
	path = deps/libfastcommon
	url = https://github.com/denghongcai/libfastcommon
[submodule "deps/libbson"]
	path = deps/libbson
	url = https://github.com/mongodb/libbson.git
